doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    body
    section.container
    h1= title 
    p Hi #{name}
    p Your email is #{email}
    p Your mobile number is #{mobile}
    p
    a(href='http://localhost:3000/admin/create-product') Create Product
    p
    a(href='http://localhost:3000/admin/all-products') View Products
    p
    a(href='http://localhost:3000/admin/logout') Logout  